* {
  margin: 0;
  box-sizing: border-box;
}

.loading {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  border: none;
  opacity: 0.35;
}

.loading::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: rgb(152, 96, 0);
  z-index: 1;
}

.loading::after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  animation: sheen 1.5s infinite alternate forwards;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5),
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-40em, 40em);
  z-index: 2;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(-10em, 10em);
  }
}

h1 {
  margin: 20px;
}

.container__dogs {
  display: flex;
  justify-content: space-around;
  height: 30rem;
}

.dog__img {
  width: 300px;
  height: 300px;
}
