body {
  background-color: rgb(218, 239, 252);
}

#container {
  background-color: rgb(160, 131, 227);
  height: 150px;
  width: 200px;
  /* margin: */
  /* margin-left: */
  /* margin-right: */
  /* pixels, rms, %, auto */
}

#main-content {
  width: 50%;
  /* margin:
  margin-left:
  margin-right: */
}
